<h1>Events in your local area</h1>

<ul class="events-list">
  <li><%= link_to "New Event", new_event_path, class:"create" %></li>
  <% @events.each do |event| %>
    <li>
      <div>
      <span class="event-link"><%= link_to event.name, event %></span>
      <span>in <%= event.venue %></span>
      </div>
      <div>
        <span class="event-date"><%= render_date(event) %></span>
      </div>
    </li>
    <li class="join-event">
      <% if user_signed_in? %>
        <%= link_to 'Join event', event_attendances_path(event: event), method: 'create' %>
      <% end %>
    </li>
  <% end %>
</ul>
