<h1>Event's info</h1>

<ul>
  <li><%= @event.name %></li>
  <li><%= @event.venue %></li>
  <li>
    <span class="date"><%= @event.date.strftime("%b %d") %></span>
    at
    <span class="time"><%= @event.date.strftime("%H:%M") %></span>
  </li>
  <li> Attendees
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li>
          <%= attendee.name %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
