<!DOCTYPE html>
<html>

<head>
  <title>PrivateEvents</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="navbar">
    <ul class="nav-list">
      <li><%=link_to "Home", root_path, class:"home"%></li>
      <% if user_signed_in?  %>
      <li><%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class:"log" %></li>
      <li><%= link_to current_user.name, user_path(current_user), class:"user" %></li>

      <% else %>
      <li><%= link_to 'Sign Up', new_user_registration_path, class:"log" %></li>
      <li><%= link_to 'Log In', new_user_session_path, class:"log" %></li>
      <% end %>
    </ul>
  </div>
  <main><%= yield %></main>
</body>

</html>